---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Card from "@components/Card.astro";
import Layout from "@layouts/List.astro";
import type { GetStaticPaths, Page } from "astro";

export interface Props {
  page: Page<CollectionEntry<"posts">>;
  category: string;
}

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const entries = (await getCollection("posts"))
    .filter((entry) => !entry.data.isDraft)
    .sort((a, b) => (a.data.publishDate < b.data.publishDate ? 1 : -1));
  const categories = entries.map((entry) => entry.slug.split("/")[0]);
  return categories.flatMap((category) =>
    paginate(
      entries.filter((entry) => entry.slug.split("/")[0] === category),
      { pageSize: 10, params: { category }, props: { category } },
    ),
  );
};
const { page, category } = Astro.props;
---

<Layout title=`category: ${category}`>
  {page.data.map((entry) => <Card entry={entry} />)}
  <div class="inline-flex justiry-between">
    {page.url.prev ? <a href={page.url.prev}>Previous</a> : <div />}
    {page.url.next ? <a href={page.url.next}>Next</a> : null}
  </div>
</Layout>
