---
import { getCollection, CollectionEntry } from "astro:content";
import Layout from "@layouts/List.astro";
import { Card } from "@components/Card";
import type { Page, GetStaticPaths } from "astro";

export interface Props {
  page: Page<CollectionEntry<"posts">>;
}

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const blogEntries = (await getCollection("posts"))
    .filter(
      (entry) => !entry.data.isDraft && entry.slug.split("/")[0] !== "nsfw"
    )
    .sort((a, b) => (a.data.publishDate < b.data.publishDate ? 1 : -1));
  return paginate(blogEntries, { pageSize: 10 });
};
const { page } = Astro.props;
---

<Layout title="home">
  {page.data.map((entry) => <Card entry={entry} />)}
  {page.url.prev ? <a href={page.url.prev}>Previous</a> : <div />}
  {page.url.next ? <a href={page.url.next}>Next</a> : null}
</Layout>
