---
interface Props {
	title: string;
}
const { title } = Astro.props as Props;
---
<header>
  <nav class="flex items-center md:flex-row w-full bg-blue-500 py-3">
    <div class="max-w-screen-md mx-auto">
      <a class="text-lg font-bold text-white" href="/">
        {title}
      </a>
    </div>
  </nav>
</header>
