---
interface Props {
  title?: string;
  class?: string;
}

const { title, class: className } = Astro.props as Props;

const classes = [
  "bg-surface border-base border shadow-md hover:shadow-lg transition-shadow p-4 overflow-visible",
  className,
]
  .filter(Boolean)
  .join(" ");
---

<div class={classes}>
  {title && <h2 class="font-bold text-lg mb-3">{title}</h2>}
  <slot />
</div>
