---
import type { CollectionEntry } from "astro:content";
import type { Page } from "astro";
import { Card } from "@components/Card";
import Layout from "./Layout.astro";

export interface Props {
  title: string;
  page: Page<CollectionEntry<"posts">>;
}

const { title, page } = Astro.props;
---

<Layout title={title} pageType="website">
  {page.data.map((entry) => <Card entry={entry} />)}
  <div class="flex justify-between">
    {page.url.prev ? <a href={page.url.prev}>Previous</a> : <div />}
    {page.url.next ? <a href={page.url.next}>Next</a> : null}
  </div>
</Layout>
