---
import Layout from "./Layout.astro";

export interface Props {
  title: string;
  excludeFromSearch?: boolean;
}

const { title, excludeFromSearch = false } = Astro.props;
---

<Layout
  title={title}
  pageType="website"
  showSidebar={true}
  excludeFromSearch={excludeFromSearch}
>
  <div class="m-4 grid grid-cols-1 gap-4">
    <slot />
  </div>
</Layout>
